$colours: (
  "dark": #1D1C22,
  "light": #EFF7FB,
  "mid": #26252D,
  "purple": #B785D5,
  "green": #B6D35F,
  "orange": #FF7F5C,
);

#App {
  text-align: center;
  text-decoration: none;
}

.light {
  background-color: map-get($colours, "light");
  color: map-get($colours, "dark");
}

.dark {
  background-color: map-get($colours, "dark");
  color: map-get($colours, "light");
}

.purple {
  color: map-get($colours, "purple") !important;
}

.green {
  color: map-get($colours, "green") !important;
}

.orange {
  color: map-get($colours, "orange") !important;
}

.card {
  display: inline-block;
  width: 90%;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  padding: 0.2em;
  &-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2em;
  }
  &-title {
    margin-bottom: 0px;
    font-size: 1.5em;
  }
  &-etype {
    font-size: 1em;
    padding: 0px;
  }
  &-time {
    margin-bottom: 0.2em;
  }
}

.selection:hover {
  opacity: 0.5;
  cursor: pointer;
}

.icon {
  opacity: 0.75;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
    color: inherit !important;
  }
  &.url {
    :hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.nav {
  background: map-get($colours, "mid");
  height: 3em;
  &-text {
    &:hover {
      text-decoration: inherit;
      color: map-get($colours, "light");
    }
  }
  &-item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0.75em 2em;
    color: map-get($colours, "light");
    &:hover {
      text-decoration: none;
      opacity: 0.5;
      background-color: map-get($colours, "dark");
      cursor: pointer;
      color: map-get($colours, "light");
    }
  }
}

.title {
  color: inherit;
  font-size: 3em;
  &-box {
    padding: 1em;
  }
  &-sub {
    font-size: 1em;
    &-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1em;
    }
  }
}

.list {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
}

.rel {
  padding: 0.5em;
  text-align: center;
}

.filter {
  outline: 1px solid black;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.event {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &-body {
    width: 60%;
    align-self: center;
    text-align: left;
    display: flex;
    justify-content: center;
  }
  &-heading {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }
  &-section {
    padding: 0em 0.5em 0.75em 0.5em;
  }
}

.login {
  &-container {
    padding: 3em;
    text-align: center;
    display: flex; 
    justify-content: center;
    flex-direction: column;
  }
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2em;
    width: 30%;
    align-self: center;
  }
  &-input {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.25em;
    margin: 1em;
  }
  &-error {
    color: red;
    font-size: 1em;
  }
  &-button {
    margin-top: 3em;
    padding: 0.75em;
    text-decoration: none;
    background-color: map-get($colours, "mid") !important;
    box-shadow: none !important;
    outline: none !important;
    border-color: map-get($colours, "mid") !important;
    &:hover &:after &:active &:before {
      text-decoration: none;
      background-color: map-get($colours, "mid") !important;
      opacity: 0.5;
      box-shadow: none !important;
      outline: none !important;
      border-color: map-get($colours, "mid") !important;
    }
  }
}